/* CV Main */
main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0px 9px;
  margin: 20px 0px;
}
main h2 {
  font-size: 22px;
  text-align: justify;
  padding-top: 10px;
}
.top-bordered {
  border-top: 1px solid #000;
  padding-top: 20px;
}
main section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main section h2 {
  padding-top: 10px;
}
main section h3 {
  font-size: medium;
}
/* main section p {
  font-size: small;
} */
main section ul {
  padding-left: 20px;
}
main section ul li a {
  color: purple;
  font-size: large;
}
main section article {
  padding-top: 20px;
  padding-bottom: 10px;
}
main section article div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media only screen and (min-width: 740px) and (max-width: 1730px) {
  main h2 {
    text-align: justify;
  }
}
@media only screen and (min-width: 992px) {
  body {
    margin: 0px 40px;
  }
}
