@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  color: #262626;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 2rem;
}

/* Portfolio Header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  gap: 30px;
}

header > a {
  font-size: 18px;
  font-weight: bold;
}
header nav ul {
  list-style: none;
  display: flex;
}
.menu:not(:first-child):before {
  content: "|";
  padding-left: 16px;
  padding-right: 16px;
}
/* Portfolio Footer */
footer {
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  gap: 20px;
}
footer div h3 {
  font-size: 18px;
  margin-top: 20px;
}

footer div p {
  font-size: 1rem;
}
footer div:last-child {
  font-size: small;
}
/* .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
} */
.icon a {
  font-size: 1rem;
}
@media only screen and (min-width: 740px) and (max-width: 1009px) {
  header {
    justify-content: space-between;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1010px) and (max-width: 1730px) {
  header {
    justify-content: space-between;
    flex-direction: row;
  }
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
  footer div {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .icon {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
